.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
  padding: 0 0;
  line-height: 1.2;
}
.grid-container > section {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  min-height: 200px;
  border: 0.5px #ccc solid;
  font-size: clamp(0.5rem, 4vw, 1rem);
}
.grid-container > section > h1, 
.grid-container > section > h2, 
.grid-container > section > h3, 
.grid-container > section > h4, 
.grid-container > section > h5, 
.grid-container > section > h6 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0 !important;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
}
.grid-container > section > h1 img, 
.grid-container > section > h2 img, 
.grid-container > section > h3 img, 
.grid-container > section > h4 img, 
.grid-container > section > h5 img, 
.grid-container > section > h6 img {
  height: 1.5em;
}
.grid-container > section > sl-button {
  margin-top: auto;
}
.grid-container > section > ul, 
.grid-container > section > ol {
  margin-left: 16px;
}
.grid-container > section > ul > li , 
.grid-container > section > ol > li {
  margin: 0.5em 0;
}
[click]:hover {
  cursor: pointer;
  border: 1px #2a7ae2 solid;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.4); /* bluish drop shadow */ 
}